@{
    ViewData["Title"] = "Home Page";
}

<input type="text" id="email" name="email" placeholder="Email">
<input type="password" id="password" name="password" placeholder="Password">
<button id="Login" onclick="Login();">
    Login
</button>
<script>
    function Login() {
        var User = new Object();
        User.Email = $('#email').val();
        User.Password = $('#password').val();

        $.ajax({
            url: '/Home/Get/',
            //url: '/Login/Get/',
            type: "Post",
            data: User
        }).then((resolve) => {
            window.Location = "https://localhost:44390/Home/About/"
            console.log(resolve);
        }).catch((error) => {
            console.error(error);
        });
    }
</script>
@*<script src="~/Script/LoginScript.js"></script>
<script src="~/Script/sweetalert2@10.js"></script>*@